.hero {
    position: relative;
    z-index: 1;

    &__container {
        display: flex;
    }

    &__wrapper {
        position: relative;
        z-index: 1;
        display: flex;
    }

    &__list {
        list-style-type: none;
        position: absolute;
        z-index: 1;
        left: 30px;
        top: 30px;
    }

    &__item-img {
        display: block;

        &:hover {
            opacity: 0.8;
        }

        &:active {
            opacity: 0.7;
        }
    }
}

// .big-img {
//     position: relative;
//     z-index: 1;

//     &__hovers {
//         display: block;
//         position: absolute;
//         z-index: 10;
//         top: 250px;
//         left: 250px;
//         display: none;
//     }

//     &__images {
//         display: block;
//         &:hover {
//             opacity: 0.5;
//             display: block;
//         }
//     }

//     &:hover &__hovers {
//         opacity: 0.8;
//         display: block;
//     }
// }




.wrapper {
    margin-left: 35px;

    &__date-title {
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        color: #333333;
        margin-top: 10px;
    }

    &__date {
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.04em;
        color: #828282;
    }

    &__otziv {
        display: flex;
        align-items: center;
        margin-top: 15px;
        margin-bottom: 40px;
    }

    &__coment {
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.04em;
        color: #333333;
        margin-right: 10px;
    }

    &__start {
        color: yellow;
        margin-right: 10px;
    }

    &__otziv-num {
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.04em;
        color: #333333;
        margin-right: 5px;
    }

    &__right-btn {
        border: none;
        background-color: #fff;
        font-weight: bold;
    }

    &__moneys {
        margin-bottom: 10px;
    }

    &__price {
        font-weight: bold;
        font-size: 24px;
        line-height: 24px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #333333;
        margin-right: 8px;
    }

    &__skidka {
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.04em;
        text-decoration-line: line-through;
        color: #828282;
        margin-right: 8px;
    }

    &__about-aksiya {
        margin-bottom: 35px;
    }

    &__percent {
        border: 1px solid #333333;
        box-sizing: border-box;
        padding: 4px 8px;
        margin-right: 5px;
    }
}
.form {

    &__select {
        max-width: 300px;
        width: 100%;
        display: block;
        padding: 8px 8px;
        margin-bottom: 10px;
    }

    &__link {
        display: block;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.04em;
        text-decoration-line: underline;
        color: #333333;
        margin-bottom: 40px;
    }

    &__btn {
        display: flex;
        margin-bottom: 10px;
    }

    &__left-btn {
        border: none;
        padding-right: 10px;
        padding: 10px 15px;
        background-color: #F2F2F2;

        &:hover {
            font-weight: bold;
        }

        &:active {
            opacity: 0.6;
        }
    }

    &__korzika {
        margin-left: 10px;
        background: #333333;
        border: 1px solid #333333;
        box-sizing: border-box;
        padding: 12px 28px;
        color: #fff;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        margin-right: 5px;

        &:hover {
            opacity: 0.8;
        }

        &:active {
            opacity: 0.6;
        }
    }

    &__like {
        background: #333333;
        border: 1px solid #333333;
        box-sizing: border-box;
        color: #fff;
        padding: 10px 15px;

        &:hover {
            opacity: 0.8;
        }

        &:active {
            opacity: 0.6;
        }
    }

    &__link {
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.04em;
        color: #333333;

        &:hover {
            opacity: 0.9;
        }

        &:active {
            opacity: 0.7;
        }
    }

    &__dotted {
        width: 450px;
        border: 0.5px solid #C4C4C4;
    }
}

.information {

    &__list {
        margin-top: 20px;
        list-style-type: none;
    }

    &__item {
        display: flex;
        align-items: center;
    }

    &__link {
        display: block;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.04em;
        color: #333333;
        text-decoration: underline;
        margin-left: 10px;

        &:hover {
            opacity: 0.9;
        }

        &:active {
            opacity: 0.7;
        }
    }
}

@media only screen and (max-width: 768px) {
    .hero {

        &__wrapper {
            display: inline-block;
        }

        &__images {
            margin-top: 35px;
            width: 700px;
            height: 910px;
        }

        &__list {
            top: 80px;
        }
    }
}

@media only screen and (max-width: 611px) {
    .hero {
        overflow-x: hidden;

        &__wrapper {
            display: inline-block;
        }

        &__images {
            width: 545px;
            height: 770px;
        }

        &__list {
            top: 100px;
        }
    }
}

@media only screen and (max-width: 561px) {
    .hero {
        overflow-x: hidden;

        &__wrapper {
            display: inline-block;
        }

        &__images {
            display: block;
            margin-top: 30px;
            width: 500px;
            height: 660px;
        }

        &__list {
            display: block;
            top: 100px;
        }
    }
}

@media only screen and (max-width: 511px) {
    .hero {
        overflow-x: hidden;

        &__wrapper {
            display: inline-block;
        }

        &__images {
            margin-top: 10px;
            width: 450px;
            height: 660px;
        }

        &__list {
            top: 100px;
        }
    }
}

@media only screen and (max-width: 480px) {
    .hero {
        overflow-x: hidden;

        &__wrapper {
            display: inline-block;
        }

        &__images {
            width: 410px;
            height: 600px;
        }

        &__list {
            top: 100px;
        }
    }
}

@media only screen and (max-width: 426px) {
    .hero {
        overflow-x: hidden;

        &__wrapper {
            display: inline-block;
        }

        &__images {
            margin-top: 30px;
            width: 370px;
            height: 510px;
        }

        &__list {
            top: 140px;
        }
    }

    .wrapper {
        margin-left: 0;
    }

    .form {

        &__btn {
            flex-wrap: wrap;
        }

        &__left-btn {
            margin-bottom: 15px;
        }

        &__right-btn {
            display: block;
            margin-right: 170px;
        }

        &__korzika {
            margin-left: 0;
        }

        &__dotted {
            width: 100%;
        }
    }
}

@media only screen and (max-width: 376px) {
    .hero {
        overflow-x: hidden;

        &__wrapper {
            display: inline-block;
        }

        &__images {
            width: 315px;
            height: 440px;
        }

        &__list {
            top: 120px;
        }

        &__item-img {
            width: 45px;
            height: 60px;
        }
    }
}

@media only screen and (max-width: 321px) {
    .hero {
        overflow-x: hidden;

        &__wrapper {
            display: inline-block;
        }

        &__images {
            width: 260px;
            height: 350px;
        }

        &__list {
            top: 80px;
        }

        &__item-img {
            width: 40px;
            height: 50px;
        }
    }

    .form {
        &__right-btn {
            margin-right: 50px;
        }
    }
}